STRING_SESSION1 = "1BVtsOHYBu4DYbQ6OQo42ibR41BgxnDV2P-AsKhcNoTM14nor7Z2hz412EQAC0MvPZBPKQOrmkQzSJ-P0qjG5AkiJpn89dcbjelyT-jNQtcbwHkwaVDZ56iLr2PP4Bq_A67YhAkp6TRgAiMKjzAfmT7nya1WuSKYIN1WCX55p3zeE7kr1sPqXEdoZ9-tVisqbFk8Tb9OoPLUQ3-fbo9zJuHKT7XH2MLJy3BEBV7tCgcU5Guax2qCr-QxifzFuJNuo3l05jSSevabDC7urTm0hQXntSIcLNrKekA_OZK8C72j1XZ7fHoTBhIbhZiOnnqLWy8EybRspoPaoH0B3cI6v9GAKcvHRzoU="
SUDO_USERS = "8024743123"
OWNER_ID = "8024743123"
BOT_TOKEN = "7987525124:AAEJyYgjyxkFJviDOig5LPrZqQaokoEWoTs"
MONGO_URL = ""
